<div class="container-login">
    <div class="container-form wow zoomIn animated" data-wow-duration="2s">
        <div class="triangle"></div>
        
        <div class="content-login-info md-padding">
            <h3>Bienvenido</h3>
            <h4>Iniciar sesión</h4>
            <hr />
            <div layout="column">
                <md-input-container>
                    <md-icon>person</md-icon>
                    <input ng-model="user.email" type="text" placeholder="Email">
                </md-input-container>

                <md-input-container>
                    <md-icon>vpn_key</md-icon>
                    <input ng-model="user.pass" type="password" placeholder="Contraseña">
                </md-input-container>
            </div>
            <section layout="column" layout-align="center strech" layout-wrap>
                <md-button ui-sref="menu" class="md-raised md-warn">Entrar</md-button>
                <md-button class="md-default">¿Olvido su contraseña?</md-button>
            </section>
        </div>
    </div>                
</div>
