<div class="container-fluid">
    <div class="row">          
        <h1 class="page-header">Cargar Zona</h1>
        <br>
        <div class="row">
            <div class="form-group">
                <label for="zone" class="col-md-1">Zona:</label>
                <div class="col-md-7">
                    <textarea class="form-control" rows="7" id="zone"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group pull-right">
                    <button class="btn btn-link" ui-sref="menu.zone" ui-sref-active="active">Cancelar</button>
                    <button class="btn btn-warning">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>